.latin{
background-color: blue;
}

.stuff{
    background-color: blueviolet;
}


body{
    background-color: aquamarine;
}

.zoo{
    background-color: rgb(255, 255, 255);
}

.tea{
    background-color: yellow;
}

.job{
    background-color: brown;
}